@model Project.Business.Model.VnPayments.PaymentInformationModel

<form method="post" asp-action="CreatePaymentUrlVnpay" asp-controller="VNPay">
    <input type="hidden" name="Amount" value="@Model.Amount" />
    <input type="hidden" name="Name" value="@Model.CustomerName" />
    <input type="hidden" name="OrderDescription" value="@Model.OrderDescription" />
    <input type="hidden" name="OrderType" value="@Model.OrderType" />
    <button type="submit" style="display:none">Redirecting...</button>
</form>

@section Scripts {
        <script>
            document.forms[0].submit();
        </script>
}
